<div class="container">
  <% if (currentUser && currentUser.items && currentUser.items.length > 0) { %>
    <h2 ><%= currentUser.username %>'s Shopping List</h2>
    
    <ul class="item-list">
      <% for (let i = 0; i < currentUser.items.length; i++) { %>
        <li id="sticker" style="position: relative;">
          <img src="/tape.png" alt="Tape" class="tape-image">
          <img src="<%= currentUser.items[i].image %>" alt="Item Image" width="235px"><br>
          Name: <%= currentUser.items[i].name %><br>
          Quantity: <%= currentUser.items[i].quantity %><br>
          <div>
            <form action="/delete/<%= i %>?_method=DELETE" method="POST" style="display: inline-block;">
              <input type="hidden" name="_method" value="DELETE">
              <button class="button" type="submit">Delete</button>
            </form>
            <a class="button" id="black" href='/edit/<%= currentUser.items[i]._id %>' style="display: inline-block;">Update</a>
          </div>
        </li>
      <% } %>
    </ul>
  <% } else { %>
    <p>No items found.</p>
  <% } %>
  
  <%- include('partials/menu') %>
</div>